/.vscode
/a.exe
/AGE.c
/AreaofCircle.c
/Areaofrect.c
/AreaofSquare.c
/Areaoftriangle.c
/Armstrong.c
/Array.c
/Averageofn.c
/BitwiseOperator.c
/Calculator.c
/CalculatorV2.c
/CelciustoF.c
/Character.c
/CI.c
/Cubeofn.c
/DecimalToBinary.c
/Digit.c
/Example.c
/Factorial.c
/Fibonacci.c
/FORLOOP.c
/FtoCelcius.c
/GuessTheNumber.c
/GuessTheNumberV2.exe
/Helloworld.c
/Hotorcold.c
/IncomeTax.c
/LCM.c
/LeapYear.c
/MatchStickGame.exe
/NaturalNumber.c
/OandI.c
/OddEven.c
/PASSFAIL.c
/Pattern.c
/Perimeterofrect.c
/Pointer.c
/Primenumber.c
/Randomnumber.c
/ReverseAnArray.c
/ReverseANumber.c
/RockPapperScissors.c
/RocKPapperScissors.exe
/Salting.c
/SI.c
/Smallestno.c
/SnakeWaterGun.c
/SnakeWaterGun.exe
/Strings.c
/Structures.c
/Sum.c
/Sumofdigits.c
/Sumofndigits.c
/Swap.c
/Switch.c
/Tableofn.c
/TemperatureConvertor.c
/TernaryOP.c
/TICTACTOE.c
/TICTACTOE.exe
/variables and datatypes.c
/WHILELOOP.c
/WordByWord.c